html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: #fff;
  display: block;
  font-size: 100px;
}

body {
  margin: 0;
  padding: 6px;
  min-height: 100vh;
  background-color: transparent;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.16rem;
  color: #494a4a;
}

/*footer*/

[role="site-info"] {
  margin: 4vh 0 0;
  padding: 4vh 22px 2vh;
  background: #ba0d37 url(../images/contentinfo@2x.png) repeat-x 0 0;
  background-size: 6px 12px;
  color: #fff;
  text-align: center;
}
